<div class="container contacts">
  <div class="row">
    <div class="col-4 avatar">
      <img src="http://www.avatarys.com/var/albums/Cool-Avatars/Cartoons-Avatars/funny-avatar_by-avatarys_cartoon-avatar-by-avatarys.jpg?m=1432822352"
        alt="">
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-12">
          <span>
            <h2 class="titleContact blackColor">Andrii Boichuk</h2>
          </span>
        </div>
        <div class="col-12 blackColor">Ivano-Frankivsk, Ukraine | +38050******* | awe.ganjet@gmail.com</div>
        <div class="col-12 blackColor">I have approximately 3 months of experience in enterprise software development. I have been working as freelancer
          WebUI developer. My primary responsibilities were producing HTML, CSS, and JavaScript for a website. Also, during
          development, I kept Responsive Web Design to various devices: desktops, tablets, phones, and TV. I worked with
          following technology stack: HTML5, CSS3, JavaScript, and frameworks: jQuery, Bootstrap. I’m self-motivated, organized
          individual with paying attention to details.
        </div>
      </div>
    </div>

  </div>

  <div class="skills">
    <div class="text-center"> <h3>Skills</h3></div>
    <div class="row">
      <div class="col-6">
        <ul> <span class="liHead">Programming Languages/ Technologies</span> 
          <li>JavaScript</li>
          <li>HTML/HTML5/xHTML</li>
          <li>CSS/CSS3</li>
          <li>SQL</li>
        </ul>
      </div>
      <div class="col-6">
        <ul> <span class="liHead">Frameworks</span> 
          <li>jQuery</li>
          <li>Bootstrap</li>
          <li>Angular</li>
        </ul>
      </div>
    </div>
  </div>

</div>