@import '/media/ganjet/D8A43174A43155EA/courses/my-app/node_modules/bootstrap/dist/css/bootstrap.min.css';

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
    background-image: url(http://toriseye.quodis.com/assets/img/layout/bodyBg.jpg)
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }