<div class="container">
    <div *ngIf="postLoading">loading...</div>
    <div class="row" *ngIf="post">
        <div class="col-2 text-center userInfo">
            <app-user-detail [userId]="post.userId"></app-user-detail>
        </div>
        <div class="col-10">

            <div class="postTitle">

                <span class="mainPostTitle">{{post.title}}</span>
                <br> {{post.body}}
            </div>

        </div>
    </div>
    <div class="text-center moreComments">Comments</div>
    <div class="row">
        <div class="col-12 text-left ">
            <div class="row commentsListRow" *ngFor="let comment of data">

                <div class="col-12 commentName">
                    <div class="row">
                        <div class="col-9">
                            <h3>{{comment.name}}</h3>
                        </div>
                        <div class="col-3">{{today | date:'yyyy-MM-dd HH:mm'}}</div>
                    </div>
                </div>
                <div class="col-12 commentBody">{{comment.body}}</div>


            </div>
        </div>
    </div>
</div>